@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300;700&display=swap");

.font-lobster {
  font-family: "Lobster", cursive;
}
.sans-light {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.sans-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.parallax1 {
  background: url("../IMG/1-Trail-buildingRidge_DxO.jpg") no-repeat center /
    contain;
}
.parallax2 {
  background: url("../IMG/2-BuckwheatReachingforSky_DxO.jpg") no-repeat center /
    contain;
}
.parallax3 {
  background: url("../IMG/3-grassy-glen_DxO.jpg") no-repeat center / contain;
}
.parallax4 {
  background: url("../IMG/4-shday-bog_DxO.jpg") no-repeat center / contain;
}
.parallax5 {
  background: url("../IMG/5-splendid-oaks_DxO.jpg") no-repeat center / contain;
}
.parallax6 {
  background: url("../IMG/6-Volunteer_3k.jpg") no-repeat center / contain;
}
